<!DOCTYPE html>
<html>
<head>
	<title>Event Lyon</title>
</head>
<body>
<h1>Salut <%= @admin.first_name %>!</h1>
<p>Bonne nouvelle, ton event <%= @event.title %> a été validé par notre équipe.</p>
<p>Tu peux le voir sur la page d'accueil de notre site <%= @url %></p>
<p>À très vite sur https://event-lyon.herokuapp.com !</p>
</body>
</html>