<!DOCTYPE html>
<html>
<head>
	<title>Event Lyon</title>
</head>
<body>
<h1>Salut <%= @event.admin.first_name %> !</h1>
<p><%= @user.first_name %> <%= @user.last_name %> s'est inscrit à ton évènement </p>
<p>Pour voir la liste des participants, connecte-toi via <%= @url %></p>
<p>À très vite sur https://event-lyon.herokuapp.com !</p>
</body>
</html>