<!DOCTYPE html>
<html>
<head>
	<title>Event Lyon</title>
</head>
<body>
<h1>Salut <%= @admin.first_name %> !</h1>
<p>Un nouveau participant s'est inscrit à ton évènement </p>
<p>Pour voir la liste des participants, connecte-toi via <%= @url %></p>
<p>À très vite sur https://event-lyon.herokuapp.com !</p>
</body>
</html>